@model IEnumerable<ProperyPricer.Models.CashflowViewModel>


<table class="table table-condensed table-striped" >
    <tr>
        <th>Date</th>
        <th>Rent</th>
        <th>Expenses</th>
    </tr>
    @foreach(var item in Model){
        <tr>
            <td>@Html.DisplayFor(t => item.Date)</td>
            <td>@Html.DisplayFor(t => item.Amount)</td>
            <td style="color:red">-</td>
        </tr>
    }
</table>