body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.columnTitle{
    padding:8px 30px;
    margin-bottom:20px;
}

.columnTitle h3{
    color:rgb(87, 85, 85);
    font-size:18px;
    margin:0px;
}

#cashflowTitle{
    background-color: #DEF5E0;
}

#propNameTitle{
    background-color: #F5F5DE;
}
#cashflowColumn{
    background-color:rgb(252, 252, 250);
    padding: 10px 25px;
    max-height: 900px;
    overflow-y:auto;
}

#addBtn{
    border-color:white;
    -webkit-transition: all ease 500ms;
    margin-bottom:10px
}

#addBtn:hover{
    background-color: #FAFDFF;
border-color: #F4F4F4;
}

#addLeaseForm {
    display:none;
    width: 120%;
    margin-bottom: 30px;
    background-color: #FFF8EC;
    position: relative;
    border-radius: 4px;
    float:right;
    padding:5px 5px
}

    #addLeaseForm tr {
        font-weight: normal;
        color: #808080;
    }

    #addLeaseForm td input {
        width: 100%;
    }

#sbtBtn{
    border-color:#E0E0E0;
    background-color:#EEFFEA;
    border-radius:3px;

}

.shadowedBox {
    padding: 5px;
    box-shadow: 0 0 1px rgba(0,0,0,.1),-1px 2px 3px rgba(0,0,0,.15);
}

#cashflowColumn > .table-condensed tbody > tr > td, #cashflowColumn > .table-condensed tbody > tr > th {
    padding: 3px;
    text-align: center;
    font-size: 11px;
}

.table-condensed tbody > tr > td {
    padding: 4px;
    font-size: 14px;
}

#pricerNavbar {
    margin: 10px 0px;
    width: 100%;
    background-color: #EFF8FF;
    padding-left: 80px;
}

    #pricerNavbar > li > a {
        padding-left: 30px;
        padding-right: 30px;
        color: #7D8F9D;
    }

        #pricerNavbar > li > a:hover {
            background-color: #EDF7E4;
        }

footer {
    text-align: center;
    width: 100%;
    height: 30px;
    background-color: #F7F7F7;
    bottom: -20px;
    position: relative;
    line-height: 30px;
    margin-top:20px;
    clear:both
}

#leftMenu{
    background-color: #B5CBC1;
height: 100vh;
}
#tenantsBox{
    padding: 0 15px;
}