body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.columnTitle{
    padding:8px 30px;
    margin-bottom:20px;
}

.columnTitle h3{
    color:rgb(87, 85, 85);
    font-size:18px;
    margin:0px;
}

#cashflowTitle{
    background-color: #DEF5E0;
}

#propNameTitle{
    background-color: #F5F5DE;
}
#cashflowColumn{
    background-color:rgb(252, 252, 250);
    height:300px;
}

#addBtn{
    border-color:white;
    -webkit-transition: all ease 500ms;
    margin-bottom:10px
}

#addBtn:hover{
    background-color: #FAFDFF;
border-color: #F4F4F4;
}

#addLeaseForm {
    display:none;
    width: 120%;
    margin-bottom: 30px;
    background-color: #FFF8EC;
    position: relative;
    border-radius: 4px;
    float:right;
    padding:5px 5px
}

    #addLeaseForm tr {
        font-weight: normal;
        color: #808080;
    }

    #addLeaseForm td input {
        width: 100%;
    }

#sbtBtn{
    border-color:#E0E0E0;
    background-color:#EEFFEA;
    border-radius:3px;

}