@{
    ViewBag.Title = "Properties";
}


<ul class="nav navbar-nav" id="pricerNavbar">
    <li><a href="#">PORTFOLIO</a></li>
    <li>@Html.ActionLink("PROPERTIES", "Properties", "Index", new { @class = "active" })</li>
    <li>@Html.ActionLink("LEASES", "Leases", "Lease")</li>
</ul>
<div class="row">
    <div class="col-md-2 shadowedBox" id="leftMenu" style="background-color:#F4D29C"></div>
    <div class="col-md-10">
        <div class="container body-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="shadowedBox">
                        <div class="columnTitle" id="propertiesTitle">
                            <h3>Properties</h3>
                        </div>
                        <div class="container">


                            <div class="row">
                                @for (int i = 0; i < 7; i++)
                                {
                                    <div class="col-md-3">
                                        <div class="propertyBox shadowedBox">
                                            <img class="img-responsive" src="~/Content/images/img2.jpg" />
                                            <div class="darkerBox">
                                                <dl>
                                                    <dt>Name:</dt>
                                                    <dd>Some Name</dd>
                                                    <dt>Address:</dt>
                                                    <dd>Some Address</dd>
                                                </dl>

                                                <a class=" btn btn-default btn-sm btnProp" href="#"><span class="glyphicon glyphicon-wrench" aria-hidden="true" style="margin-right:5px; color:#D38D7D; font-size:10px"></span>Edit</a>
                                                <a class="btn btn-default btn-sm btnProp" href="~/Lease/Leases" style="float:right">Leases<span class="glyphicon glyphicon-arrow-right" aria-hidden="true" style="margin-left:5px;color:#A9C8A7; font-size:10px"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>